{% extends 'core/base.html' %}
{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
    <div class="images w-full mb-6 lg:mb-0 lg:w-3/5">
        <img class="rounded-xl" src="1.jpg" alt="test">
    </div>
    <div class="information w-full lg:w-2/5 lg:p-6">
        <h1 class="text-2xl">Product Name</h1>
        <p class="mt-1 text-gray-400">RM 200.00</p>
        <p class="mt-6 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas arcu diam, ac luctus diam fermentum quis. Cras fermentum mattis orci, id tempor magna convallis id. Integer eu tortor non arcu tincidunt ornare at ut ipsum. Cras porta dolor at neque eleifend accumsan. Nullam ac fermentum orci. Fusce nec felis arcu. Ut orci ex, luctus vitae tellus in, tristique placerat leo. Donec vel tellus at velit efficitur condimentum. Nulla sagittis id sapien in accumsan. Sed euismod ex lorem. Maecenas suscipit quis turpis in mattis. In hac habitasse platea dictumst. Curabitur id enim accumsan eros dapibus accumsan semper quis odio. Vestibulum vel orci massa.</p>
        <a href="#" class="mt-6 inline-block px-8 py-4 rounded-xl bg-purple-500 text-white hover:bg-purple-700">
        Add to cart
    </a>
    </div>
</div>
{% endblock %}